@import "./fonticon";
@import "./roboto";


html{
    font-family: 'Roboto', sans-serif;
    background: #f2f2f2;
    background: linear-gradient(#fefeff, #eaedf3);
}
html,body{
    margin: 0;
    min-height: 100%;
}

.list-padding > div > div {
    padding-top: 0!important;
    padding-bottom: 0!important;
}

.receipt-element{
    > div > span{
        height: 72px;
        & > div > div > div:nth-child(3), & > div > div > div:nth-child(4){
            text-overflow: ellipsis;
	        white-space: nowrap;
	        overflow: hidden;
        }
    }
    
}

.receipt-container{
    padding: 10px;
    
    .receipt-preview, .receipt-add{
        box-sizing: border-box;
        display: inline-block;
        vertical-align: bottom;
        background-size: cover;
        width: 100%;
        height: 100%;
        padding: 10px;
    }

    .receipt-add{
        border: 2px dashed #C2C8CC;
        cursor: pointer;
        .icon{
            color: #C2C8CC!important;
            width: 100%!important;
            height: 100%!important;
        }
    }

    .wrapper{
        box-sizing: border-box;
        display: inline-block;
        padding: 5px;
        width: 25%;
        height: 200px;
    }
    @media (max-width: 600px) {
        .wrapper{width: 33.33%}
    }
    @media (max-width: 470px) {
        .wrapper{width: 50%}
    }

}
